.CounterGroup {
    text-align: center;
    font-size: 40px;
    background : black;
    color : white
}

.TextField {
    font-size: 40px;
    width: 475px;
}  

.Button {
    text-align: center;
    font-size: 40px;
    width: 480px;
}