.Counter {
    text-align: center;
    font-size: 400%;
    background : black;
    color : white;
  }

.ButtonCounter {
    vertical-align: middle;
    text-align: center;
    font-size: 40%;
    width: 8%;
    height: 10%;
}  